header{position: relative;}
header .returned{
  text-align: center;position:absolute;left:1em;top:1.4em;border:1px solid #ccc;padding:8px 15px;color:#fff;font-family:"Roboto Condensed";font-weight:700;border-radius:5px;background-color:orange;display:inline-block;width:150px}
header .returned:hover{box-shadow:0 0 1px rgba(0,0,0,.2);cursor:pointer}
header .returned:hover:after{border:2px solid #fff;top:3px;left:3px;bottom:3px;right:3px;border-radius:5px;content:"";position:absolute}
@media only screen and (max-width:600px){
  header .returned{left:0;top:0;margin:0 auto .5em;display:block;position:relative}
}